services:
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: guestbook
    ports:
      - "3306:3306"

  backend:
    image: youbogwang/guestbook-backend
    ports:
      - "8080:8080"
    depends_on:
      - mysql

  frontend:
    image: youbogwang/guestbook-frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend